<h1>Create this User!</h1>

<form action="<%= users_url %>" method="post">
  
  <label>Usename:
  <input type="string" name="user[username]" value="">
  </label>
  <br>
  <label>Password:
  <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Create User!!!">
</form>